/* Hide default calendar icon in Chrome, Safari, Edge, Opera */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Hide default calendar icon in Firefox */
input[type="date"] {
    -moz-appearance: none;
}
